/** Button.css
추가: 상세 정보와 토론 페이지의 버튼
수정: 버튼의 공통 속성을 .custom-button에서 분리.
단, 분리된 속성을 삭제하지 않고 주석으로 처리하였음.
*/
/* 버튼 공통 속성 */
button {
  /*font-family: "Pretendard";
  border-radius: 4px;*/
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button {
  font-family: "Pretendard";
  width: 320px;
  height: 56px;
  background-color: #13161b;
  color: white;
  border: none;
  border-radius: 4px;
  /*cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;*/
}
/* 투표 [찬성, 반대, 신고] */
.vote {
  font-family: "Pretendard";
  border-radius: 4px;
  border: 1px solid;
  height: 32px;
  display: inline-flex;
  background-color: white;
}

.upvote {
  width: 88px;
  border-color: #31AE54;
  color: #31AE54;
}

.downvote {
  width: 88px;
  border-color: #7787A2;
  color: #7787A2;
}

.report {
  width: 32px;
  padding: 4px;
  border-color: #7787A2;
  color: #7787A2;
}