.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.footer {
  background-color: #13161b;
  padding: 20px;
  text-align: center;
  color: #eee;
  font-size: 12px;
}