/* Google Fonts 가져오기 */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/* Pretendard 폰트 가져오기 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 네비게이션 바 */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 900;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 0 32px;
  border-bottom: 1px solid #000; /* 가로줄 추가 */
  box-sizing: border-box;
}

/* 네비게이션 바 안의 콘텐츠 */
.nav-content {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로고 스타일 */
.logo a {
  font-family: "Questrial";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.24em;
  color: #13161b;
  text-decoration: none;
  padding: 17px 0;
  text-align: left;
}

/* 네비게이션 링크 */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 48px;
  position: relative;
}

.nav-link {
  font-family: "Questrial";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #13161b;
  text-decoration: none;
  text-align: right;
  padding: 20px 0;
  position: relative;
}

.nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  height: 1px;
  background-color: #13161b;
}

/* 드롭다운 메뉴 */
.dropdown-menu,
.myinfo-menu {
  position: absolute;
  top: 44px;
  right: 0;
  background-color: white;
  z-index: 900;
  width: 2500px;
  height: 152px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: -300px;
  padding: 24px 0;
  border-top: 1px solid #000;
  box-sizing: border-box;
}
.navbar.open-dropdown {
  border-bottom: none;
}
/* 드롭다운 아이템 */
.dropdown-item,
.myinfo-item {
  list-style: none;
  margin-bottom: 16px;
  text-align: right;
  margin-right: 300px;
}

.dropdown-item a,
.myinfo-item a {
  font-family: "Questrial";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: right;
  text-decoration: none;
  color: #13161b;
  position: relative;
}

.dropdown-item a:hover::after,
.myinfo-item a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 1px;
  background-color: #13161b;
}

.myinfo-item a {
  font-family: "Pretendard";
  font-size: 18px;
  line-height: 24px;
}

.comment-count {
  color: #7787a2;
}

/* inline-options에 22px 간격 적용 */
.inline-options a:first-child {
  margin-right: 22px;
}

/* 반응형 설정 */
@media (max-width: 768px) {
  .navbar {
    padding: 0 32px;
  }
}
