.product-list-page {
  display: flex;
  height: calc(100vh - 112px);
  width: 100vw;
  overflow: hidden;
  padding-top: 114px;
}

.product-list-content {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 20px;
  box-sizing: border-box;
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE && Edge*/
}
.product-list-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.product-item {
  min-height: 75vh;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.product-item.unfocused {
  background-color: #232a3510;
}

@media (max-width: 768px) {
  .product-list-page {
    flex-direction: column;
  }
}