/* 페이지 내 공통 속성 */
main.Details-n-Discussion {
    font-family: "Pretendard";
    display: flex;
    padding: 32px;
    gap: 32px;
}

.Details-n-Discussion h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #13161B;
    margin: 0;
}

.Details-n-Discussion p {
    border: 1px solid #BCC4D0;
    border-radius: 4px;
    padding: 8px;
    line-height: 24px;
}

.Details-n-Discussion small {
    color: #BCC4D0;
    line-height: 16px;
}

/* 공통 속성 끝 */
/* product-overview */
.product-overview {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 400px;
    flex-shrink: 0;
    /* 너비가 고정되도록 설정 */
    position: relative;
    /* SteppedCorner 위치 설정 기준 */
}

.product-info {
    border: 1px solid #232A35;
    border-radius: 4px;
    padding: 24px;
    height: 320px;
    box-sizing: border-box;
}

h2 span {
    color: #FF9900;
}

dl {
    margin-bottom: 4px;
    line-height: 24px;
}

dl div {
    margin: 4px 0;
}

dl div:nth-child(5) {
    margin-top: 16px;
}

dt {
    display: inline;
    color: #7787A2;
}

dd {
    display: inline;
    color: #13161B;
    margin-left: 0;
}

.popular-opinions {
    border: 1px solid #232A35;
    border-radius: 4px;
    padding: 24px;
}

.popular-opinions h2 {
    margin-bottom: 24px;
}

.popular-opinions p {
    margin-top: 16px;
    margin-bottom: 0;
    height: 96px;
    overflow-y: auto;
    /* 세로 스크롤을 자동으로 추가 */
    color: #7787A2;
    box-sizing: border-box;
}

.popular-opinions small {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 4px 8px 0;
}

.popular-opinions button {
    width: 100%;
    margin-top: 12px;
}

.popular-opinions .white {
    background-color: white;
    border: 1px solid #13161B;
    color: #232A35;
}

/* product-overview 끝 */
/* discussion-section */
.discussion-section {
    border: 1px solid #232A35;
    border-radius: 4px;
    padding: 24px;
    flex-grow: 1;
    position: relative;
    max-height: 856px; /* .product-overview와 일치 하는 값을 찾음 */
    box-sizing: content-box;
    overflow-y: auto; /* 스크롤바 표시 */
}

.discussion-section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.discussion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.discussion-header a {
    font-size: 20px;
    line-height: 24px;
    color: #13161B;
    text-decoration-line: underline;
}

.discussion-section p {
    margin-top: 36px;
    margin-bottom: 8px;
    color: #232A35;
}

.opinion-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opinion-footer small {
    display: flex;
    gap: 20px;
    font-size: 14px;
    padding-left: 8px;
}

.vote-buttons {
    display: flex;
    gap: 8px;
}

/* discussion-section 끝 */
/* 모달 창 */
dialog {
    width: 640px;
    height: 480px;
    border: 1px solid #7787A2;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    padding: 24px;
}

dialog:-internal-dialog-in-top-layer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog form {
    position: relative;
    height: 100%;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea {
    width: 100%;
    font-family: 'pretendard';
    color: #232A35;
    box-sizing: border-box;
    padding: 8px;
}

textarea.newOpinion {
    margin-top: 28px;
    height: 280px;
}

form small {
    color: #BCC4D0;
    font-size: 14px;
    line-height: 16px;
    float: right;
}

form .custom-button {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

form input {
    width: 100%;
    height: 56px;
    display: block;
    margin-top: 28px;
    box-sizing: border-box;
    padding: 8px;
}

textarea.report {
    width: 100%;
    height: 208px;
    margin-top: 16px;
    padding: 8px;
}

/* 모달 창 끝 */